HELP.md
**/.gradle
**/build/
**/build/libs/



### IntelliJ IDEA ###
**/.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

**/build/*
!**/build/libs/

#**/src/main/resources/application.properties

**/src/main/resources/application.yaml
